.SelectionField {
    width: 100%;
    margin-bottom: 1em;
}

.SelectionField:last-child {
    margin-bottom: 0;
}

.Selection {
    width: 100%;

    margin-top: .5em;
    padding: 10px;

    border: 1px solid #ccc;
    border-radius: 5px;

    background-color: white;
}

.Placeholder {
    color: var(--placeholder-color);
}

.Option {
    color: black
}
