.Form {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 1em 0 1.5em;
}

.Form:first-child {
    margin-top: 0;
}

.Form:last-child {
    margin-bottom: 0;
}
